@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');
/*estamos importando a fonte do site do google fonts, para o nosso codigo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex; /*vai deixar os menus no topo ao lado da imagem*/
    flex-direction: row; /*vai deixar em forma de linha*/
    align-items: center; /*deixar os itens alinhados com a imagem*/
    justify-content: space-around; /*vai deixar os itens bem centralizados na pg*/
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px; /*vai afastar as palavras do menu, dando espaço de 32px*/
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px; /*margem de baixo perto do footer*/
    border-top: 0.4px solid #FFF2E7; /*primeira linha*/
}

.conteudo-principal {
    display: flex;
    flex-direction: center;
    align-items: center; /*deixar os itens alinhados com a imagem*/
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;  /*vai deixar os itens alinhados em coluna,um embaixo do outro*/
    gap: 32px; /*espaço entre os itens, h1, h2, e botao*/
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400; /*peso da fonte e o tanto que ela vai ficar em negrito*/
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400; /*peso da fonte e o tanto que ela vai ficar em negrito*/
    font-size: 24px;
    color: #2F2325;
}

.conteudo-principal-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column; /*para todos os paragrafos ficarem um embaixo do outro*/
    align-items: center;
    gap: 24px; /*espaçamento entre os itens*/
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7; /*linha que separa o prox conteudo*/
    padding-top: 48px; /*espaçamento da barra e do conteudo 'o que ela..'*/
    font-family: 'Righteous', cursive;
    font-weight: 400; /*peso da fonte*/
    font-size: 24px; /*tamanho da fonte*/
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300; /*peso da fonte e o tanto que ela vai ficar em negrito*/
    font-size: 18px;
    color: #ECD6C4
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto; /*serve para alinhas apenas 1 item especifico*/
}